.header
= render "shared/sub_header"

.main.single-box
  .main-box1
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .main-message
        %p.main_parag 会員情報登録
      .field
        .field-label
          = f.label :メールアドレス,class: "new-label"
        .field-input
          = f.email_field :email, placeholder: "  PC・携帯どちらでも可",class: "new-input"
      .field
        .field-label
          = f.label :パスワード,class: "new-label"
        .field-input
          = f.password_field :password, autocomplete: "off", placeholder: "  6文字以上",class: "new-input"
      .field
        .field-label
          = f.label :確認,class: "new-label"
        .field-input
          = f.password_field :password_confirmation, autocomplete: "off", placeholder: "  6文字以上",class: "new-conf"
      .actions
        = f.submit "新規作成", class: 'new-btn'




.footer
= render "shared/sub_footer"
