.header
  = render "shared/header"
.main-box
  .l-container.clearfix
    .l-content
      .mypage-user-icon
        %a
          %figure
            =image_tag "//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png", size: "60*60", class: "mypic"
          %h2.bold ユーザー名
          .mypage-number
            .evaluation
              評価
              .bold 0
            .solditems
              出品数
              .bold 0

  .mypage-tab-container-notification-todo
    %ul.tab.clearfix
      %li.active やることリスト
      %li お知らせ
    .area
      %ul.show
        %li.image
          = image_tag 'mercari_mypage_tab.png' ,size:"100x100" , class: "mercari-log16"
        %li.text-1 現在、やることリストはありません
      %ul
        %li.image
          = image_tag 'mercari_mypage_tab.png' ,size:"100x100" , class: "mercari-log16"
        %li.text-1 現在、お知らせはありません

  .mypage-tab-container-lower
    %ul.tab-2.clearfix
      %li.active 取引中
      %li 過去の取引

    .area-2
      %ul.show
        %li.image
          = image_tag 'mercari_mypage_tab.png' ,size:"100x100" , class: "mercari-log16"
        %li.text-2 取引中の商品がありません
      %ul
        %li.image
          = image_tag 'mercari_mypage_tab.png' ,size:"100x100" , class: "mercari-log16"
        %li.text-2 過去に取引した商品がありません

  .l-side-show
    .maypage-nav
      %ul.mypage-nav-list
        %li.mypage-nav-list-each.active
          = link_to "マイページ", "/users/:id", class: "mypage-nav-list-item active"
          %i.icon-arrow-right
        %li.mypage-nav-list-each
          = link_to "お知らせ", "/", class: "mypage-nav-list-item"
          %i.icon-arrow-right
        %li.mypage-nav-list-each
          = link_to "やることリスト", "/", class: "mypage-nav-list-item"
          %i.icon-arrow-right
        %li.mypage-nav-list-each
          = link_to "いいね！一覧", "/", class: "mypage-nav-list-item"
          %i.icon-arrow-right
        %li.mypage-nav-list-each
          = link_to "出品する", "/", class: "mypage-nav-list-item"
          %i.icon-arrow-right
        %li.mypage-nav-list-each
          = link_to "出品した商品 - 出品中", "/", class: "mypage-nav-list-item"
          %i.icon-arrow-right
        %li.mypage-nav-list-each
          = link_to "出品した商品 - 取引中", "/", class: "mypage-nav-list-item"
          %i.icon-arrow-right
        %li.mypage-nav-list-each
          = link_to "出品した商品 - 売却済み", "/", class: "mypage-nav-list-item"
          %i.icon-arrow-right
        %li.mypage-nav-list-each
          = link_to "購入した商品 - 取引中", "/", class: "mypage-nav-list-item"
          %i.icon-arrow-right
        %li.mypage-nav-list-each
          = link_to "購入した商品 - 過去の取引", "/", class: "mypage-nav-list-item"
          %i.icon-arrow-right
        %li.mypage-nav-list-each
          = link_to "ニュース一覧", "/", class: "mypage-nav-list-item"
          %i.icon-arrow-right
        %li.mypage-nav-list-each
          = link_to "評価一覧", "/", class: "mypage-nav-list-item"
          %i.icon-arrow-right
        %li.mypage-nav-list-each
          = link_to "ガイド", "/", class: "mypage-nav-list-item"
          %i.icon-arrow-right
        %li.mypage-nav-list-each
          = link_to "お問い合わせ", "/", class: "mypage-nav-list-item"
          %i.icon-arrow-right

      %h3.mypage-nav-head 売上・ポイント
      %ul.mypage-nav-list
        %li.mypage-nav-list-each
          = link_to "売上・振込申請", "/", class: "mypage-nav-list-item"
          %i.icon-arrow-right
        %li.mypage-nav-list-each
          = link_to "ポイント", "/", class: "mypage-nav-list-item"
          %i.icon-arrow-right

      %h3.mypage-nav-head 設定
      %ul.mypage-nav-list
        %li.mypage-nav-list-each
          = link_to "プロフィール", "/users/:id/profile", class: "mypage-nav-list-item"
          %i.icon-arrow-right
        %li.mypage-nav-list-each
          = link_to "住所変更", "/", class: "mypage-nav-list-item"
          %i.icon-arrow-right
        %li.mypage-nav-list-each
          = link_to "支払い方法", "/users/:id/card", class: "mypage-nav-list-item"
          %i.icon-arrow-right
        %li.mypage-nav-list-each
          = link_to "メール/パスワード", "/", class: "mypage-nav-list-item"
          %i.icon-arrow-right
        %li.mypage-nav-list-each
          = link_to "本人情報", "/", class: "mypage-nav-list-item"
          %i.icon-arrow-right
        %li.mypage-nav-list-each
          = link_to "電話番号の確認", "/", class: "mypage-nav-list-item"
          %i.icon-arrow-right
        %li.mypage-nav-list-each
          = link_to "ログアウト", "/users/:id/logout", class: "mypage-nav-list-item"
          %i.icon-arrow-right

.footer
= render "shared/footer"
