.default-container
  .header
  = render "shared/header"
  .nav-bar
  = render "shared/nav-bar"
  .body
  = render "shared/body_upper"
  .aside
  = render "shared/aside"
  .footer
  = render "shared/footer"
